.add-customer--wrapper {
  text-align: center;
  .ng-select--wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    ng-select {
      width: 360px;
    }
  }
  .form-field--wrapper {
    margin: 10px 0px;
  }
  mat-form-field {
    width: 350px;
  }
}
.create-customer--header {
  text-align: center;
}
.create-customer-action--wrapper {
  float: right;
}
