.add-customer--wrapper {
  text-align: center;
  .image-upload--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .form-field--wrapper {
    margin: 10px 0px;

    .hidden-file--wrapper {
      visibility: hidden;
      position: absolute;
      overflow: hidden;
      width: 0px;
      height: 0px;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  ::ng-deep {
    .mat-radio--wrapper {
      mat-label {
        margin-right: 25px;
      }
      mat-radio-button {
        label {
          margin-top: 7px;
          margin-right: 15px;
        }
      }
    }
  }
  mat-form-field {
    width: 350px;
  }
  .ng-select--wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    ng-select {
      width: 360px;
    }
  }
}
.ng2-drop--wrapper {
  border: 2px solid rgb(202, 200, 200);
  height: 50px;
  width: 300px;
  padding: 12px;
}
.create-pin-action--wrapper {
  float: right;
}
